@import url('fields/index.css');


form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form-section {
    margin-top: 40px;
}

#frame-form1 {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

#frame-form1 img {
    vertical-align: middle;
}

#frame-form1 h3 {
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 0;
    color: var(--text-heading);
}

.form-section h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--text-heading);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Isso garante que ambos os campos "Início" e "Fim" tenham o mesmo tamanho */
    gap: 20px;
    align-items: stretch;
}

/* Estilo para campos de largura total */
.full-width {
    grid-column: 1 / -1;
}